/* gmgui.css */

/* ================== Global ================== */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

div.floatingbuttons {
    position: fixed;
    top: 5em;
    right: 0;
    /* Facultatif : */
    width: 200px;
    height: 50px;
    background-color: lightgray; /* Pour le visualiser */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Style optionnel */
}

div.worldbuttons {
    width: 80%;
    height: 50px;
    background-color: lightgray; /* Pour le visualiser */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Style optionnel */
}

/* ================== Header Section ================== */

header {
    background-color: #656fc1;
    color: white;
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Zone de rendu Ajax */
#content {
    padding: 20px;
}

.section {
    display: none;
}

h2 {
    color: #003366;
}

button {
    /* padding: 5px 5px; */
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 25px;
}

button:hover {
    background-color: #0055cc;
}
/* ================== MAP Tableau Rendering ================== */
table#map {
    border-collapse: collapse; /* Pour éviter les doubles bordures */
}

table#map td.t6{
	border:1px solid green;
    background-color: green;
}

table#map td.t0{
	border:1px solid black;
    background-color: black;
}

/* ================== XML Tableau Rendering ================== */

#data-table {
    table-layout: fixed;
	/* table-layout: auto; /* Permet aux colonnes de s'adapter au contenu */
    border-collapse: collapse; /* Pour éviter les doubles bordures */
}

#data-table input {
    padding: 1px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* S'assure que la largeur inclut les paddings */
    width: 100%;
    box-sizing: border-box;    
}

#data-table tr:nth-child(odd) {
    background-color: #e2e2e2; /* Couleur de fond plus foncée */
}

#data-table tr:nth-child(even) {
    background-color: #ffffff; /* Couleur de fond claire */
}

/* Appliquer le même style aux inputs */
#data-table tr:nth-child(odd) input {
    background-color: #e2e2e2;
}

#data-table tr:nth-child(even) input {
    background-color: #ffffff;
}

/* ================== Cells ================== */

#data-table th, td {
    text-align: left; /* Assure que le texte est bien aligné */
    border: 1px solid #ccc; /* Bordure légère autour des cellules */
}

/* ------ TH fields ------ */

#data-table th {
    background-color: #656fc1;
    color: white;
    padding:1px;
}

#data-table th .editable-cell {
    background-color: #d2d1ed;

}

/* Conteneur pour aligner le champ texte et le select */
div.th-container {
    display: flex;
    flex-direction: column;
/*    align-items: start; /* Aligne les éléments à gauche */
/*    gap: 8px; /* Ajoute un espace entre les éléments */
}

/* Liste déroulante */
.type-selector {
    /* width: 100%; /* Optionnel : ajuste à la largeur du conteneur */
    box-sizing: border-box;
    background-color: #d2d1ed;
}


select {
	vertical-align: middle;
}

/* ------ TD fields ------ */
div.complex-field {
	/* border:1px solid blue; */
	  white-space: nowrap;
	/* width: 50%;*/
}

#data-table input.editable-name{
    max-width: 40%;
}

#data-table input.editable-value {
	/* border:1px solid blue; */
	max-width: 4em;
	width: 20%;
}

button.row-btn {
	/* text-align: right; */
	/* float:right; */
}

/* ================== wigets ================== */

#progress-bar-container {
	/*  */
	/*position: fixed;
	top: 10px; left: 50%;*/
	/* transform: translateX(-50%);*/
    display: none;

	width: 100%; height: 30px;
	background: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#progress-bar {
	width: 0%;
	
	height: 100%;
	background: #4caf50;
	transition: width 0.2s;
}